.top-bar{
  height: 40px;
  background: radial-gradient(
    ellipse closest-corner,
    blue 50%,
    lightblue);
  border-radius: 5px;
  text-align: center;
}

.input-section{
  background: grey;
  padding-top: 20px;
  padding-bottom: 10px;
  display: flex;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}