form {
  margin: 20px;
  font-family: Arial, sans-serif;
}

.top-bar{
  height: 40px;
  background: radial-gradient(
    ellipse closest-corner,
    blue 50%,
    lightblue);
  border-radius: 5px;
  text-align: center;
}

.input-section{
  background: linear-gradient(gray, lightgray);
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

form{
  padding: 15px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

input[type="text"],
input[type="email"] {
    padding: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-label{
  margin-right: 10px;
}

.text-box{
  width: 20ch;
}

input.invalid {
  border-color: red;
}

/* input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
} */